<div>

    <h2 translate="jhipsterApp.empresa4.home.title">Empresa4s</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveEmpresa4Modal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="jhipsterApp.empresa4.home.createLabel">Create a new Empresa4</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveEmpresa4Modal" tabindex="-1" role="dialog" aria-labelledby="myEmpresa4Label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myEmpresa4Label" translate="jhipsterApp.empresa4.home.createOrEditLabel">Create or edit a Empresa4</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="global.field.id">ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="empresa4.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="jhipsterApp.empresa4.nome">Nome</label>
                            <input type="text" class="form-control" name="nome"
                                   ng-model="empresa4.nome" required ng-maxlength="20">

                            <div ng-show="editForm.nome.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.nome.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.nome.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                                    This field cannot be longer than 20 characters.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteEmpresa4Confirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(empresa4.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="jhipsterApp.empresa4.delete.question" translate-values="{id: '{{empresa4.id}}'}">Are you sure you want to delete this Empresa4?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="jhipsterApp.empresa4.nome">Nome</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="empresa4 in empresa4s">
                    <td><a ui-sref="empresa4Detail({id:empresa4.id})">{{empresa4.id}}</a></td>
                    <td>{{empresa4.nome}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="empresa4Detail({id:empresa4.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(empresa4.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(empresa4.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
